#first {
    background-image: url("../images/123.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#first .row {
    margin-top: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}



#second {
    background-image: url("../images/123_2.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    width: 100%;
}