#first, #second, #third, #fourth, #fifth {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

#first {
    background-image: url("../images/imac_1.png");
}

#second {
    background-image: url("../images/imac_2.png");
}

#third {
    background-image: url("../images/imac_3.png");
}

#fourth {
    background-image: url("../images/imac_4.png");
}

#fifth {
    background-image: url("../images/imac_5.png");
}

h1, h3 {
    color: gainsboro;
}

.col {
    padding-left: 25px
}